body {
    font-family: "Jost", sans-serif;
    /*hint: удаляем ненужный дефолтный отступ*/
    margin: 0;
    /*font-family: 'DM Serif Display', serif*/
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /*hint: безопасные расстояния*/
    padding-left: 15px;
    padding-right: 15px;
}