.thumb {
    position: relative;
    overflow: hidden;
    height: 356px;
    width: 100%;
}
.thumb__title {
    margin-bottom: 0;
    text-align: center;
}
.thumb__img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    /*hint: меняю систему координат */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thumb__info {
    position: absolute;
    /*hint: теперь координаты можно прописать так*/
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    max-width: 503px;
    margin: 0 auto;
    padding-top: 41px;
    padding-bottom: 41px;
    border-radius: 37px 37px 0px 0px;
}

.breadcrumbs {
    color: #4D5053;
    list-style-type: none;
    /*hint: обнуляю стили по умолчанию для ul.breadcrumbs*/
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 28px;

}

.breadcrumbs > li > a {
    text-decoration: none;
    color: #4D5053;
}

.breadcrumbs > li {
    position: relative;
}
/*hint: интересный прием, чтобы выставить какой-то элемент между тегами li*/
.breadcrumbs > li::after {
    content: '/';
    position: absolute;
    right: -20px;
}
.breadcrumbs>li:last-child::after {
    display: none;
}