.widget__title {
    color: rgb(41, 47, 54);
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 2%;
    margin-top: 50px;
    margin-bottom: 50px;
}
/******SEARCH WIDGET**********/
.area-search {
    display: flex;
    padding: 34px 33px;
    border-radius: 20px;
    background: rgb(244, 240, 236);
    align-items: center;
}

.area-search__input {
    outline: none;
    background-color: transparent;
    border: none;
    color: rgb(205, 162, 116);
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.area-search__input::-webkit-input-placeholder {
    color: rgb(205, 162, 116);
}

.area-search__input::-moz-placeholder {
    color: rgb(205, 162, 116);
}

.area-search__input::-ms-placeholder {
    color: rgb(205, 162, 116);
}

.area-search__input::placeholder {
    color: rgb(205, 162, 116);
}

.area-search__submit {
    border: none;
    cursor: pointer;
    background-color: transparent;
}


/**********LATEST-WIDGET************/
.area-news {
    display: flex;
    padding-bottom: 7px;
    border-bottom: 1px solid rgb(205, 162, 116);
}
.area-news__title {
    color: rgb(41, 47, 54);
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 35px;
    max-width: 197px;
}

.area-news__date {
    align-self: self-end;
    color: rgb(77, 80, 83);
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/**********WIDGET-CATEGORY*****************/

.widget-category {
    border-radius: 20px;
    background: rgb(244, 240, 236);
    padding: 27px;
    margin-top: 50px;
}

.category__title {
    margin-top: 0;
}

.category__list {
    padding: 0;
}

.category__list-item {
    padding-bottom: 15px;
    margin-top: 15px;
    color: rgb(77, 80, 83);
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: 400;
    border-bottom: 1px solid rgb(205, 162, 116);
    box-sizing: border-box;
}

.category__list-item:first-child {
    margin-top: 0;
}

.category__list-item:last-child {
    border-bottom: none;
}

.category__list-item .list-item__link {
    transition: .3s;
}

.category__list-item .list-item__link:hover {
    color: #CDA274;
}

/**********TAGS-WIDGET**************/
.tags__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tags__list__item {
    padding: 9px 30px;
    background: rgb(244, 240, 236);
    border-radius: 10px;
    transition: .3s;
}

.tags__list__item:hover {
    background: rgb(41, 47, 54);
    color: white;
}

/**********WIDGET-END-LINE****************/

.widget-end-line {
    background-color: rgb(229, 229, 229);
    margin-top: 50px;
}