.content {
  display: grid;
  grid-template-columns: 1fr 345px;
  gap: 52px;
}

.author__thumb {
  /*hint: чтобы не сжималось изображение*/
  flex-basis: 70px;
  height: 70px;
  width: 70px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
/*hint: позиционирование изображения*/
.author__img {
  width: 150%;
  height: 100%;
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.author__head {
  display: flex;
  align-items: center;
  gap: 32px;
}

.author__name {
  color: rgb(41, 47, 54);
  font-family: "DM Serif Display", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

.author__role, .author__text {
  color: rgb(77, 80, 83);
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.author__text {
    margin-top: 51px;
}
